[submodule "generators/web/templates"]
	path = generators/web/_templates
	url = https://github.com/pirosikick/hiden-no-tare.web.git
[submodule "generators/npm/_templates"]
	path = generators/npm/_templates
	url = https://github.com/pirosikick/hiden-no-tare.npm.git
